<div class="chart-container">
  <!-- mobile display year select -->
  <div class="year-options">
    <ion-item class="select-input">
      <ion-select [(ngModel)]="year" interface="popover" (ionChange)="setYear(year)">
        <ion-select-option *ngFor="let y of yearOptions" [value]="y.year">
          {{ y.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <!-- large display year options as buttons with underline -->
  <div class="year-container">
    <ion-button
      [class.active]="-1 === year"
      size="small"
      fill="clear"
      (click)="setYear(-1)"
    >
      This Past Year
    </ion-button>
    <div class="right-buttons">
      <ion-button
        *ngFor="let y of years"
        [class.active]="y === year"
        size="small"
        fill="clear"
        (click)="setYear(y)"
      >
        {{ y }}
      </ion-button>
    </div>
  </div>
  <!-- the grid -->
  <div class="grid-container">
    <div class="row" *ngFor="let row of grid">
      <div class="cell-container" *ngFor="let cell of row; let i = index">
        <div
          class="cell"
          [class.hidden]="!cell"
          [style.background]="cell?.color"
          (click)="cellClicked(cell)"
        >
          <span *ngIf="cell?.q">
            Q
          </span>
        </div>
        <div
          class="popover"
          [class.first]="i === 0"
          [class.last]="i === row.length - 1"
          *ngIf="cell?.bd"
        >
          {{ cell?.date }}
        </div>
      </div>
    </div>
  </div>
  <!-- the legend -->
  <div class="legend-container">
    <div class="legend-item" *ngFor="let item of legend">
      <div class="color-box" [style.background]="item.color"></div>
      {{ item.name }}
    </div>
  </div>
</div>
