<div class="chart-container">
  <!-- mobile display year select -->
  <div class="year-options">
    <ion-item class="select-input">
      <ion-select [(ngModel)]="year" interface="popover" (ionChange)="setYear(year)">
        <ion-select-option *ngFor="let y of yearOptions" [value]="y.year">
          {{ y.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <!-- large display year options as buttons with underline -->
  <div class="year-container">
    <ion-button
      [class.active]="-1 === year"
      size="small"
      fill="clear"
      (click)="setYear(-1)"
    >
      This Past Year
    </ion-button>
    <div class="right-buttons">
      <ion-button
        *ngFor="let y of years"
        [class.active]="y === year"
        size="small"
        fill="clear"
        (click)="setYear(y)"
      >
        {{ y }}
      </ion-button>
    </div>
  </div>
  <!-- the grid -->
  <div class="grid-container">
    <div class="row" *ngFor="let row of grid">
      <div
        class="cell"
        [class.hidden]="!cell"
        [style.background]="cell?.color"
        *ngFor="let cell of row"
        (click)="cellClicked(cell)"
      >
        <span *ngIf="cell?.q">
          Q
        </span>
      </div>
    </div>
  </div>
  <!-- the legend -->
  <div class="legend-container">
    <div class="legend-item" *ngFor="let item of legend">
      <div class="color-box" [style.background]="item.color"></div>
      {{ item.name }}
    </div>
  </div>
</div>
