.login-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;

  h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
  }

  p {
    color: var(--ion-color-medium);
    margin-bottom: 20px;
  }

  ion-item {
    margin-bottom: 20px;
    --padding-start: 0;
    --padding-end: 0;
  }

  ion-button {
    margin-top: 20px;
  }

  .slack-email-note {
    font-size: 16px;
    font-weight: bold;
    color: var(--ion-color-primary);
  }

  .help-text {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
    color: var(--ion-color-medium);
  }
}
