<ion-header>
  <ion-toolbar>
    <ion-title>Backblasts</ion-title>
    <div slot="end">
      <ion-searchbar
        class="desktop-toolbar"
        [(ngModel)]="filterText"
        placeholder="Filter by PAX, Date, or AO"
        (ionChange)="applyFilter()">
      </ion-searchbar>
    </div>
  </ion-toolbar>
  <ion-toolbar class="mobile-toolbar">
    <ion-searchbar
      [(ngModel)]="filterText"
      placeholder="Filter by PAX"
      (ionChange)="applyFilter()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-year-grid [bds]="filteredBackblasts"></app-year-grid> -->

  <app-backblast-grid [backblasts]="backblasts">
      </app-backblast-grid>

  <div class="center-container">
    <h2 *ngIf="filteredBackblasts?.length && loading">
      Loading...
    </h2>
    <ion-button *ngIf="showLoadMore" (click)="loadMore()">
      Load More
    </ion-button>
    <h2 *ngIf="filteredBackblasts?.length === 0">
      No backblasts to show for "{{ filterText }}"
    </h2>
  </div>
</ion-content>
