<ion-header>
  <ion-toolbar>
    <ion-title>Backblasts</ion-title>
    <div slot="end">
      <ion-searchbar
        class="desktop-toolbar"
        [(ngModel)]="filterText"
        placeholder="Filter by PAX, Date, or AO"
        (ionChange)="applyFilter()">
      </ion-searchbar>
    </div>
  </ion-toolbar>
  <ion-toolbar class="mobile-toolbar">
    <ion-searchbar
      [(ngModel)]="filterText"
      placeholder="Filter by PAX"
      (ionChange)="applyFilter()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="backblasts-container">
    <ion-card *ngFor="let backblast of backblasts; trackBy: trackByBackblast">
      <ion-card-header>
        <ion-card-title class="space-between">
          <div>{{ backblast.date }} @ {{ backblast.ao }}</div>
          <ion-chip>
            {{ backblast.pax.length }}
            <ion-icon name="people"></ion-icon>
          </ion-chip>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <strong>
            {{ backblast.qs.length === 1 ? 'Q:' : 'Qs:' }}
          </strong>
          <app-pax-chip
            *ngFor="let q of backblast.qs"
            [name]="q">
          </app-pax-chip>
        </div>
        <div>
          <strong>
            PAX:
          </strong>
          <app-pax-chip
            *ngFor="let name of backblast.pax"
            [name]="name">
          </app-pax-chip>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="center-container">
    <h2 *ngIf="filteredBackblasts?.length && loading">
      Loading...
    </h2>
    <ion-button *ngIf="showLoadMore" (click)="loadMore()">
      Load More
    </ion-button>
    <h2 *ngIf="filteredBackblasts?.length === 0">
      No backblasts to show for "{{ filterText }}"
    </h2>
  </div>
</ion-content>
