.header-container {
  width: 100vw;
  height: 200px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.8477766106442577) 0%, rgba(0,0,0,0.6797093837535014) 30%, rgba(0,0,0,0) 100%);

  .left img {
    cursor: pointer;
  }

  ion-button {
    font-size: 20px;
    height: 60px;
    --padding-top: 30px;
    --padding-bottom: 30px;

    &.active {
      --ion-color-light: #ee6059;
    }
  }
}