.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.google-form-iframe {
  width: 100%;
  height: 100%;
  border: none;
  flex: 1;
  min-height: 600px;
}

ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}
