.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 500px;
}

.close-fab {
  --background: rgba(0, 0, 0, 0.3);
  --background-hover: rgba(0, 0, 0, 0.5);
  --background-focused: rgba(0, 0, 0, 0.4);
  --color: white;
  --border-radius: 50%;
  margin: 16px;
}