.main-img {
  background-image: url('../../../assets/workouts.jpg');
}

iframe {
  border: 1px solid #aaa;
  max-width: 1200px;
  margin: 60px auto 20px;
  width: 100%;
  height: 600px;

  .leaflet-popup-content img {
    height: 100px;
  }
}
.aos-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px !important;
  justify-content: center;

  .ao {
    min-width: 100%;
    background: #333;
    margin: 10px 0;
    padding: 20px;

    .highlight {
      color: #fff;
      font-weight: bold;
    }

    ion-chip {
      pointer-events: none;
      background: #444;
      color: #f4f5f8;
    }

    a.readonly {
      pointer-events: none;
    }
  }
}

@media (min-width: 900px) {
  .aos-container .ao {
    min-width: 400px;
    max-width: calc(50% - 20px);

    &:nth-child(even) {
      margin: 20px 0 20px 20px;
    }
    &:nth-child(odd) {
      margin: 20px 20px 20px 0;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}