ion-searchbar {
  text-align: left;
}

.full-height-container {
  max-height: 100%;
  overflow: visible;
}

.hidden {
  display: none;
}

.table-container {
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
  flex: 1;

  table {
    border-collapse: initial;
    border-spacing: 3px;
    margin: auto;
    width: max-content;
    min-width: 100%;

    th {
      position: sticky;
      top: 0;
    }

    th, td {
      background: #333;
      padding: 8px;
      text-align: center;
      min-width: 150px;
      max-width: 300px;

      &.warning {
        border: 2px solid var(--ion-color-danger);
      }
      &.transparent {
        opacity: .3;
      }
      &.taken {
        background: #2a532a;
      }
      &.hide-text {
        opacity: .2;
      }
      a {
        color: #fff;
      }
    }
  }

  // positioning garbage to keep the load more button centered
  table {
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
    background: #121212;
  }
  .load-more-container {
    position: fixed;
    left: 0;
    bottom: 20px; // some offset for the scroll bars
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (prefers-color-scheme: light) {
  .table-container table {
    background: #fff;

    th, td {
      background-color: #ccc;

      &.taken {
        background: #4e964e;
      }
      &.transparent {
        opacity: .3;
      }
    }
    th a {
      color: #000;
    }
  }
}

// show/hide the right toolbars for the right screen widths
@media (max-width: 800px) {
  .desktop-toolbar {
    display: none;
  }
}
@media (min-width: 801px) {
  .mobile-toolbar {
    display: none;
  }
}