.full-height-container {
  max-height: 100%;
  overflow: hidden;
}

.table-container {
  flex-direction: column;
  align-items: center;
  overflow: auto;
  width: 100%;
  flex: 1;

  table {
    border-collapse: initial;
    border-spacing: 3px;
    width: 100%;
    margin: auto;

    th {
      position: sticky;
      top: 0;
    }

    th, td {
      background-color: #333;
      padding: 8px;
      text-align: center;
      min-width: 150px;

      &.warning {
        border: 2px solid var(--ion-color-danger);
      }
      &.transparent {
        opacity: .3;
      }
      &.taken {
        background: #2a532a;
      }
      a {
        color: #fff;
      }
    }
  }

  // positioning garbage to keep the load more button centered
  table {
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
    background: #121212;
  }
  .load-more-container {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (prefers-color-scheme: light) {
  .table-container table {
    background: #fff;

    th, td {
      background-color: #ccc;

      &.taken {
        background: #4e964e;
      }
      &.transparent {
        opacity: .3;
      }
    }
    th a {
      color: #000;
    }
  }
}