.backblasts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1800px;
  margin: auto;

  app-backblast-card {
    margin-bottom: 20px
  }
}

.centered {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .stats-container .card-container {
    min-width: 50%;
  }
}

@media (max-width: 930px) {
  .backblasts-container,
  .stats-container .card-container {
    min-width: 100%;
  }
}