<ion-content>
  <div class="top-container">
    <div class="main-img">
      <h1>GTE 38 [BOISE]</h1>
      <h2>The Confluence</h2>
    </div>
  </div>
  <div class="content">
    <app-header></app-header>

    <div class="section">
      <h6 class="font-3 black-ops">GROWRUCK EVENTS</h6>
      <div>
        <ion-text color="medium" class="font-1">
          <p>GrowRuck 01 started in Jacksonville, FL on November 18th, 2016 at GORUCK headquarters, intertwining the roots of F3 GrowRuck and GORUCK. The first four GrowRucks were operated by F3Nation as part of the expansion efforts to target new AOs ready for growth.</p>
          <p>Starting with GrowRuck 05 in Chattanooga, The Iron Project (TIP) took over the GrowRuck operations in order to expand the GrowRuck program to FiA and other outside organizations. GrowRuck 12 in Memphis marked a renewed focus for GrowRuck to focus only on F3 and our foundational roots to expand and create growth in F3.</p>
        </ion-text>
        <h1 class="font-2 black-ops">The FIRST 24hr GrowRuck</h1>
        <ion-text color="medium" class="font-1">
          <p>Boise was the first 24 hour GrowRuck event in addition to the normal 14 hour option. It ran Friday 9/15 through Sunday 9/17.</p>
        </ion-text>
      </div>
    </div>
    <!-- <div class="section">
      <h6 class="font-3 black-ops">ARE YOU GROWRUCK TOUGH?</h6>
      <h6 class="font-2 black-ops">Hard commit below</h6>

      <ion-button color="secondary" fill="outline" size="large" class="space-above black-ops" href="https://growruck.com/event/gte-38/" target="_blank">
        REGISTER NOW!
      </ion-button>
    </div> -->
    <!-- <div class="section">
      <h6 class="font-3 black-ops">ARE YOU GROWRUCK TOUGH?</h6>
      <div>
        <ion-text color="medium" class="font-1">
          <p>Let us know you're interested by filling out the form below.</p>
          <p>We'll keep you in the loop as more details are released and registration is open!</p>
        </ion-text>
      </div>
      <ion-button color="secondary" fill="outline" size="large" class="space-above black-ops" href="https://forms.gle/JMyjyCYMezQJnky58" target="_blank">
        Stay in the loop
      </ion-button>
    </div> -->
    <div class="footer section">
      <div class="space-between">
        <p>
          © Copyright 2024   |   F3 Boise    |   All Rights Reserved   |   Powered by the PAX
        </p>
        <div>
          <ion-button color="light" fill="clear" href="https://www.instagram.com/f3boise/" target="_blank">
            <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button fill="clear" href="https://twitter.com/f3boise" target="_blank">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
