<ion-content>
  <div class="top-container">
    <div class="main-img">
      <h1>New to F3</h1>
      <h2>Welcome [FNG]</h2>
    </div>
  </div>
  <div class="content">
    <app-header></app-header>

    <div class="section">
      <h6 class="font-3 black-ops">READY FOR YOUR FIRST WORKOUT?</h6>
      <div>
        <ion-text color="medium" class="font-1">
          <p>We appreciate you joining us and there is a lot of information to tell you but to avoid overwhelming you here are a few ways to keep in touch and know what’s going on in F3 Boise.  If you still have questions just ask any of the guys and they’ll help or point you in the right direction!</p>
        </ion-text>

        <ion-text color="medium" class="font-1">
          <p>So, you got past <a href="https://f3nation.com/top-five-eh-excuses/" target="_blank">our favorite excuses</a> and decided to participate? Greatness.</p>
        </ion-text>
        <ion-text class="font-1">
          <p>We do not show up at F3 for ourselves. We show up for the man standing beside each of us.</p>
        </ion-text>
        <ion-text color="medium" class="font-1">
          <blockquote>"Here is one undeniable truth that I know about each of us, we need authentic relationships with other men who are working to be strong fathers, husbands and leaders. Isolation will destroy a man! We have the opportunity to change our community and the trajectory of our families.  Getting in the best shape of your life is just a by product. The work out is the magnet, the relationships and community with other men will keep bringing you back. Lock shields with us and help us accomplish F3’s mission to invigorate male leadership in our community."</blockquote>
          <p>—DREDD, F3 Founder</p>
        </ion-text>
      </div>
    </div>
    <div class="section">
      <h6 class="font-2 black-ops">TIPS FOR YOUR FIRST WORKOUT</h6>
      <div>
        <ol>
          <li>When you are first starting, it is important to remember to MODIFY as needed during the beatdowns. If you want to go harder – go harder. If you have not exercised in a long time, slow down. Don’t hurt yourself or even worse, get discouraged. Just show up, work hard and give it your best. That is all that matters. We are not here competing against one another. We are freaking proud of you for showing up at 5:00 in the morning to exercise!</li>
          <li>Read our <a href="https://f3nation.com/disclaimer-and-notice/" target="_blank">disclaimer</a>, then simply pick a place to post.</li>
          <li>Visit our <a (click)="navTo('/workouts')">Workouts</a> page to see what site works best for you.</li>
          <li>Check out the <a href="https://f3nation.com/lexicon/" target="_blank">Lexicon</a>. We have a nick name for everything you do. The Lexicon will give you a definition behind our secret language.</li>
          <li>All you need to bring is an open mind and a positive attitude. Wear your regular outdoor workout clothes and, unless you have farmer hands, consider bringing a pair of gloves.</li>
          <li>If you are not meeting a friend at your first post, simply show up and introduce yourself as an FNG. You’ll be welcomed.</li>
        </ol>
      </div>
    </div>
    <div class="footer section">
      <div class="space-between">
        <p>
          © Copyright {{ currentYear }}   |   F3 Boise    |   All Rights Reserved   |   Powered by the PAX
        </p>
        <div>
          <ion-button color="light" fill="clear" href="https://www.instagram.com/f3boise/" target="_blank">
            <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
          </ion-button>
          <ion-button fill="clear" href="https://twitter.com/f3boise" target="_blank">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
