<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="title-container">
        <app-pax-avatar class="space-after" [name]="name"></app-pax-avatar>
        {{ utilService.normalizeName(name) }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="allBds; else loading">

    <!-- empty state -->
    <h2 class="center-container" *ngIf="allBds.length === 0">
      There doesn't seem to be a Boise HIM that goes by {{ utilService.normalizeName(name) }}
    </h2>

    <!-- cool year grid chart -->
    <app-year-grid
      [name]="name"
      [bds]="allBds"
      *ngIf="allBds.length > 0">
    </app-year-grid>

    <div class="stats-container" *ngIf="stats">
      <!-- general stats -->
      <div class="card-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="space-between">
              {{ utilService.normalizeName(name) }}'s stats

              <ion-button fill="clear" (click)="toggleStats()" *ngIf="ddCount > 0">
                {{ toggleButtonText }}
              </ion-button>
            </ion-card-title>
          </ion-card-header>
          <ion-list>
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>Total Posts</h2>
              </ion-label>
              <span slot="end">{{ stats.posts }}</span>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>Total Qs</h2>
              </ion-label>
              <span slot="end" *ngIf="stats.qs > 0">
                {{ stats.qs }} <strong>({{ stats.qRate | percent }})</strong>
              </span>
              <span *ngIf="stats.qs === 0">
                Has not been the Q yet
              </span>
            </ion-item>
            <ion-item *ngIf="stats.qs > 0">
              <ion-label class="ion-text-wrap">
                <h2>Avg Pax as Q</h2>
              </ion-label>
              <span slot="end">
                {{ stats.avgPaxAsQ | number:'0.0-2' }}
              </span>
            </ion-item>
            <ion-item *ngIf="stats.bestie">
              <ion-label class="ion-text-wrap">
                <h2>Bestie</h2>
              </ion-label>
              <span slot="end">
                {{ stats.bestieCount }} {{ stats.bestieCount === 1 ? 'BD' : 'BDs' }} with
                <a routerLink="/pax/{{stats.bestie}}">{{ utilService.normalizeName(stats.bestie) }}</a>
              </span>
            </ion-item>
            <ion-item *ngIf="stats.paxTally">
              <ion-label class="ion-text-wrap">
                <h2>PAX Tally</h2>
              </ion-label>
              <span slot="end">
                {{ stats.paxTally }} unique PAX
              </span>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>Invited By</h2>
              </ion-label>
              <span class="centered" slot="end">
                <!-- TODO: see if @Stinger will add the ability to change for authed users -->
                <!-- <ion-button
                  *ngIf="stats.parent"
                  color="dark"
                  fill="clear"
                  (click)="getParentSuggestions()"
                >
                  <ion-icon
                    slot="icon-only"
                    name="reload-sharp"
                  ></ion-icon>
                </ion-button> -->
                <a
                  *ngIf="stats.parent && stats.parentIsPax"
                  routerLink="/pax/{{stats.parent}}"
                >
                  {{ utilService.normalizeName(stats.parent) }}
                </a>
                <span *ngIf="stats.parent && !stats.parentIsPax">
                  {{ stats.parent }}
                </span>
                <ion-button
                  *ngIf="!stats.parent"
                  color="primary"
                  (click)="getParentSuggestions()"
                >
                  Set Parent
                </ion-button>
              </span>
            </ion-item>
            <ion-item>
              <ion-label class="ion-text-wrap">
                <h2>First BD</h2>
              </ion-label>
              <span slot="end">{{ stats.firstBdDate }} at <a routerLink="/ao/{{stats.firstAo}}">{{ stats.firstAo }}</a></span>
            </ion-item>
            <ng-container *ngIf="stats.firstQDate">
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>First Q</h2>
                </ion-label>
                <span slot="end">
                  <span slot="end">{{ stats.firstQDate }} at <a routerLink="/ao/{{stats.firstQAo}}">{{ stats.firstQAo }}</a></span>
                </span>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>Most Recent Q</h2>
                </ion-label>
                <span slot="end">
                  <span slot="end">{{ stats.lastQDate }} at <a routerLink="/ao/{{stats.lastQAo}}">{{ stats.lastQAo }}</a></span>
                </span>
              </ion-item>
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>Last Seen</h2>
                </ion-label>
                <span slot="end">{{ stats.lastBdDate }} at <a routerLink="/ao/{{stats.lastAo}}">{{ stats.lastAo }}</a></span>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-card>
      </div>

      <!-- favorite aos -->
      <div class="card-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Favorite AOs</ion-card-title>
          </ion-card-header>
          <ion-list>
            <ng-container *ngFor="let ao of favoriteAos; let i = index">
              <ion-item>
                <ion-label class="ion-text-wrap">
                  <h2>
                    <a routerLink="/ao/{{ ao.name }}">{{ ao.name }}</a>
                  </h2>
                </ion-label>
                <strong slot="end">{{ ao.total }} {{ ao.total === 1 ? 'beatdown' : 'beatdowns' }}</strong>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-card>
      </div>
    </div>

    <app-backblast-grid [backblasts]="recentBds">

    </app-backblast-grid>

  </ng-container>
</ion-content>

<!-- loading spinner -->
<ng-template #loading>
  <div class="spinner-container">
    <h2>Loading...</h2>
    <ion-spinner></ion-spinner>
  </div>
</ng-template>