.title-container {
  display: flex;
  align-items: center;

  ion-avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin-right: 12px;
  }
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;

  .card-container {
    flex: 1;
  }
}

.backblasts-container {
  app-backblast-card {
    margin-bottom: 20px
  }
}

.centered {
  display: flex;
  align-items: center;
}

.bestie-info-icon {
  margin-left: 4px;
  color: var(--ion-color-primary);
  vertical-align: text-top;
}

@media (max-width: 1200px) {
  .stats-container .card-container {
    min-width: 50%;
  }
}

@media (max-width: 930px) {
  .stats-container .card-container {
    min-width: 100%;
  }
}