.stats-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: auto;

  .card-container {
    flex: 1;

    // by default, hide the show more button, unless...
    .show-more {
      display: none;
      --ion-color-primary: #ee6059;
    }
    // ... the list has more items than the limit
    .show-more.has-more {
      display: block;
    }
  }

  .month-card {
    width: 100%;

    .pax-avatars {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;

      a {
        margin: 4px 4px 0 0;
      }
    }
  }
}

@media (max-width: 1700px) {
  .stats-container .card-container {
    min-width: 50%;
  }
}

@media (max-width: 850px) {
  .stats-container .card-container {
    min-width: 100%;

    // on smaller screens, we hide all but the top 3 items so make sure
    // to show the show more button as long as there are 4 items
    .show-more.has-4 {
      display: block;
    }
  }
}

.backblasts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1800px;
  margin: auto;

  app-backblast-card {
    margin-bottom: 20px
  }
}