<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ displayName || 'Loading...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-time-filter
    [tabs]="timeRanges"
    [selectedTab]="selectedRange"
    (tabChange)="calculateStats($event)">
  </app-time-filter>

  <div *ngIf="aoStats; else loading">
    <ng-container *ngIf="aoStats.totalBeatdowns > 0; else empty">
      <!-- ao stats -->
      <div class="stats-container">
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ displayName }} stats</ion-card-title>
              <ion-card-subtitle>
                {{ aoStats.totalBeatdowns }} {{ aoStats.totalBeatdowns === 1 ? 'beatdown' : 'total beatdowns' }},
                {{ aoStats.totalUniquePax }} total unique pax,
                {{ aoStats.averageAttendance | number:'0.1-1' }} pax post per beatdown
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </div>

      <div class="stats-container">
        <!-- leaderboard -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Leaderboard</ion-card-title>
              <ion-card-subtitle>Posted at the most BDs</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <app-pax-list-item
                *ngFor="let pax of leaderboard; let i = index"
                [pax]="pax"
                [index]="i"
                [showMore]="showMoreLeaderboard"
                subtext="{{ pax.bdsPerWeek | number:'0.0-2' }} {{ pax.bdsPerWeek === 1 ? 'beatdown' : 'beatdowns' }} per week"
                metric="{{ pax.bds }} {{ pax.bds === 1 ? 'beatdown' : 'beatdowns' }}">
              </app-pax-list-item>

              <ion-button
                class="show-more"
                [class.has-4]="leaderboard.length > 3"
                [class.has-more]="leaderboard.length > limit"
                fill="clear"
                expand="block"
                (click)="showMoreLeaderboard = !showMoreLeaderboard"
              >
                <ng-container *ngIf="!showMoreLeaderboard; else showLess">
                  Show all {{ leaderboard.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>

        <!-- top qs -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Top Qs</ion-card-title>
              <ion-card-subtitle>Highest % of Q</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <app-pax-list-item
                *ngFor="let q of topQs; let i = index"
                [pax]="q"
                [index]="i"
                [showMore]="showMoreTop"
                subtext="Lead {{ q.qs }} / {{ q.bds }} {{ q.bds === 1 ? 'beatdown' : 'beatdowns' }}"
                metric="{{ q.qRate | percent }}">
              </app-pax-list-item>

              <ion-button
                class="show-more"
                [class.has-4]="topQs.length > 3"
                [class.has-more]="topQs.length > limit"
                fill="clear"
                expand="block"
                (click)="showMoreTop = !showMoreTop"
              >
                <ng-container *ngIf="!showMoreTop; else showLess">
                  Show all {{ topQs.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>

        <!-- bottom qs -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Bottom Qs</ion-card-title>
              <ion-card-subtitle>Lowest % of Q</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <app-pax-list-item
                *ngFor="let q of bottomQs; let i = index"
                [pax]="q"
                [index]="i"
                [showMore]="showMoreBottom"
                subtext="Lead {{ q.qs }} / {{ q.bds }} {{ q.bds === 1 ? 'beatdown' : 'beatdowns' }}"
                metric="{{ q.qRate | percent }}">
              </app-pax-list-item>

              <ion-button
                class="show-more"
                [class.has-4]="bottomQs.length > 3"
                [class.has-more]="bottomQs.length > limit"
                fill="clear"
                expand="block"
                (click)="showMoreBottom = !showMoreBottom"
              >
                <ng-container *ngIf="!showMoreBottom; else showLess">
                  Show all {{ bottomQs.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>

        <!-- no qs -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Has not been the Q</ion-card-title>
              <ion-card-subtitle>Lead 0 beatdowns</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <app-pax-list-item
                *ngFor="let q of noQs; let i = index"
                [pax]="q"
                [index]="i"
                [showMore]="showMoreNoQs"
                subtext="Last BD was {{ utilService.getRelativeDate(q.lastBdDate) }}"
                metric="{{ q.bds }} {{ q.bds === 1 ? 'beatdown' : 'beatdowns' }}">
              </app-pax-list-item>

              <ion-button
                class="show-more"
                [class.has-4]="noQs.length > 3"
                [class.has-more]="noQs.length > limit"
                fill="clear"
                expand="block"
                (click)="showMoreNoQs = !showMoreNoQs"
              >
                <ng-container *ngIf="!showMoreNoQs; else showLess">
                  Show all {{ noQs.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>
      </div>

      <div class="stats-container" *ngIf="showMonthlyStats">
        <ion-card class="month-card" *ngFor="let month of monthlyStats">
          <ion-card-header>
            <ion-card-title>
              {{ month.displayName }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong>{{ month.allPax.size }} Total PAX this month</strong> ({{ month.totalPosts }} posts)
            <div class="pax-avatars">
              <a
                *ngFor="let name of month.allPax"
                [title]="utilService.normalizeName(name)"
                routerLink="/pax/{{name}}"
              >
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
            <strong>{{ month.fngs.size }} New FNGs this month</strong>
            <div class="pax-avatars">
              <a
                *ngFor="let name of month.fngs"
                [title]="utilService.normalizeName(name)"
                routerLink="/pax/{{name}}"
              >
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
            <strong *ngIf="month.returnedPax.size > 0">
              {{ month.returnedPax.size }} Returned PAX this month
            </strong>
            <div class="pax-avatars">
              <a
                *ngFor="let name of month.returnedPax"
                [title]="utilService.normalizeName(name)"
                routerLink="/pax/{{name}}"
              >
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
            <strong *ngIf="month.missingPax.size > 0">
              {{ month.missingPax.size }} PAX dropped off this month
            </strong>
            <div class="pax-avatars">
              <a
                *ngFor="let name of month.missingPax"
                [title]="utilService.normalizeName(name)"
                routerLink="/pax/{{name}}"
              >
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
  </div>
</ion-content>

<!-- loading spinner -->
<ng-template #loading>
  <div class="spinner-container">
    <h2>Loading...</h2>
    <ion-spinner></ion-spinner>
  </div>
</ng-template>

<!-- empty state -->
<ng-template #empty>
  <div class="empty-container">
    No data for AO "{{ displayName }}"
  </div>
</ng-template>

<!-- show less button text -->
<ng-template #showLess>
  Show less
</ng-template>