<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ name || 'Loading...' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-time-filter
    [tabs]="timeRanges"
    [selectedTab]="selectedRange"
    (tabChange)="calculateStats($event)">
  </app-time-filter>

  <div *ngIf="aoStats; else loading">
    <ng-container *ngIf="aoStats.totalBeatdowns > 0; else empty">
      <!-- ao stats -->
      <div class="stats-container">
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{ name }} stats</ion-card-title>
              <ion-card-subtitle>
                {{ aoStats.totalBeatdowns }} {{ aoStats.totalBeatdowns === 1 ? 'beatdown' : 'total beatdowns' }},
                {{ aoStats.totalUniquePax }} total unique pax,
                {{ aoStats.averageAttendance | number:'0.1-1' }} pax post per beatdown
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </div>

      <div class="stats-container">
        <!-- leaderboard -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Leaderboard</ion-card-title>
              <ion-card-subtitle>Posted at the most BDs</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <ng-container *ngFor="let pax of leaderboard; let i = index">
                <ion-item
                  [class.hide-sm]="i >= 3 && !showMoreLeaderboard"
                  *ngIf="i < limit || showMoreLeaderboard"
                >
                  <ion-label class="ion-text-wrap">
                    <h2>
                      <app-pax-name [name]="pax.name"></app-pax-name>
                    </h2>
                    <p>
                      {{ pax.bdsPerWeek | number:'0.0-2' }} {{ pax.bdsPerWeek === 1 ? 'beatdown' : 'beatdowns' }} per week
                    </p>
                  </ion-label>
                  <strong slot="end">{{ pax.bds }} {{ pax.bds === 1 ? 'beatdown' : 'beatdowns' }}</strong>
                </ion-item>
              </ng-container>

              <ion-button fill="clear" expand="block" (click)="showMoreLeaderboard = !showMoreLeaderboard" *ngIf="leaderboard.length > limit">
                <ng-container *ngIf="!showMoreLeaderboard; else showLess">
                  Show all {{ leaderboard.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>

        <!-- top qs -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Top Qs</ion-card-title>
              <ion-card-subtitle>Highest % of Q</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <ng-container *ngFor="let q of topQs; let i = index">
                <ion-item
                  [class.hide-sm]="i >= 3 && !showMoreTop"
                  *ngIf="i < limit || showMoreTop"
                >
                  <ion-label class="ion-text-wrap">
                    <h2>
                      <app-pax-name [name]="q.name"></app-pax-name>
                    </h2>
                    <p>Lead {{ q.qs }} / {{ q.bds }} {{ q.bds === 1 ? 'beatdown' : 'beatdowns' }}</p>
                  </ion-label>
                  <strong slot="end">{{ q.qRate | percent }}</strong>
                </ion-item>
              </ng-container>

              <ion-button fill="clear" expand="block" (click)="showMoreTop = !showMoreTop" *ngIf="topQs.length > limit">
                <ng-container *ngIf="!showMoreTop; else showLess">
                  Show all {{ topQs.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>

        <!-- bottom qs -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Bottom Qs</ion-card-title>
              <ion-card-subtitle>Lowest % of Q</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <ng-container *ngFor="let q of bottomQs; let i = index">
                <ion-item
                  [class.hide-sm]="i >= 3 && !showMoreBottom"
                  *ngIf="i < limit || showMoreBottom"
                >
                  <ion-label class="ion-text-wrap">
                    <h2>
                      <app-pax-name [name]="q.name"></app-pax-name>
                    </h2>
                    <p>Lead {{ q.qs }} / {{ q.bds }} {{ q.bds === 1 ? 'beatdown' : 'beatdowns' }}</p>
                  </ion-label>
                  <strong slot="end">{{ q.qRate | percent }}</strong>
                </ion-item>
              </ng-container>

              <ion-button fill="clear" expand="block" (click)="showMoreBottom = !showMoreBottom" *ngIf="bottomQs.length > limit">
                <ng-container *ngIf="!showMoreBottom; else showLess">
                  Show all {{ bottomQs.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>

        <!-- no qs -->
        <div class="card-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Has not been the Q</ion-card-title>
              <ion-card-subtitle>Lead 0 beatdowns</ion-card-subtitle>
            </ion-card-header>
            <ion-list>
              <ng-container *ngFor="let q of noQs; let i = index">
                <ion-item
                  [class.hide-sm]="i >= 3 && !showMoreNoQs"
                  *ngIf="i < limit || showMoreNoQs"
                >
                  <ion-label class="ion-text-wrap">
                    <h2>
                      <app-pax-name [name]="q.name"></app-pax-name>
                    </h2>
                    <p>Last BD was {{ q.lastBdDate }}</p>
                  </ion-label>
                  <strong slot="end">{{ q.bds }} {{ q.bds === 1 ? 'beatdown' : 'beatdowns' }} </strong>
                </ion-item>
              </ng-container>

              <ion-button fill="clear" expand="block" (click)="showMoreNoQs = !showMoreNoQs" *ngIf="noQs.length > limit">
                <ng-container *ngIf="!showMoreNoQs; else showLess">
                  Show all {{ noQs.length }}
                </ng-container>
              </ion-button>
            </ion-list>
          </ion-card>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>

<!-- loading spinner -->
<ng-template #loading>
  <div class="spinner-container">
    <h2>Loading...</h2>
    <ion-spinner></ion-spinner>
  </div>
</ng-template>

<!-- empty state -->
<ng-template #empty>
  <div class="empty-container">
    No data for AO "{{ name }}"
  </div>
</ng-template>

<!-- show less button text -->
<ng-template #showLess>
  Show less
</ng-template>