<ion-header>
  <ion-toolbar>
    <ion-title>Exicon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search bar -->
  <ion-searchbar
    (ionInput)="onSearch($event)"
    placeholder="Search"
  ></ion-searchbar>

  <!-- Active category filters -->
  <div *ngIf="selectedCategories.length > 0">
    <ion-chip *ngFor="let category of selectedCategories">
      <!-- <ion-icon name="pin" color="primary"></ion-icon> -->
      <ion-label>{{ category }}</ion-label>
      <ion-icon name="close" (click)="removeCategory(category)"></ion-icon>
    </ion-chip>
  </div>

  <!-- Table -->
  <ion-grid>
    <ion-row class="header-row">
      <ion-col size="3"><strong>Title</strong></ion-col>
      <ion-col size="6"><strong>Description</strong></ion-col>
      <ion-col size="3"><strong>Categories</strong></ion-col>
    </ion-row>
    <ion-row *ngFor="let exercise of displayedExercises">
      <ion-col size="3">
        {{ exercise.title }}
      </ion-col>
      <ion-col size="6">
        {{ exercise.description }}
      </ion-col>
      <ion-col size="3">
        <ion-chip
          color="primary"
          *ngFor="let cat of exercise.categories"
          (click)="addCategory(cat.label)"
        >
          {{ cat.label }}
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMore($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
