.filters {
  padding: 0 12px;
  margin-top: -12px;
  overflow-x: scroll;
  white-space: nowrap;
}

ion-content {
  --padding-start: 12px;
  --padding-end: 12px;

  .desktop {
    display: none;

    ion-row {
      border-bottom: 1px solid #efefef;
    }

    ion-col {
      display: flex;
      align-items: center;
      padding: 8px 12px;
    }
  }

  .mobile {
    display: initial;

    ion-item {
      --padding-start: 8px;
      --padding-end: 8px;
      margin: 4px 0;
    }

    ion-label h2 {
      font-size: 1rem;
      margin-bottom: 0.2rem;
      font-weight: bold;
    }

    ion-label p {
      font-size: 0.9rem;
      margin-bottom: 0.4rem;
    }
  }

  ion-chip {
    margin: 2px;
    display: inline-block;
    text-transform: capitalize;
    line-height: 18px;
    padding: 8px 12px;
  }
}

// For screens >= 768px: true table layout
@media (min-width: 768px) {
  ion-content {
    .desktop {
      display: initial;
    }
    .mobile {
      display: none;
    }
  }
}
