<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      F3 Boise
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="hide-sm" *ngFor="let ao of aos" (click)="navToAo(ao)">
        {{ ao }}
      </ion-button>
      <app-actions-popover class="show-sm" [actions]="aoActions">
        <ion-button>
          AO Stats
        </ion-button>
      </app-actions-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">F3 Boise</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>F3 Boise</strong>
    <p>Coming soon!</p>
  </div>
</ion-content>
