<ion-header>
  <ion-toolbar>
    <ion-title>Family Tree</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDirection()">
        <ion-icon
          slot="icon-only"
          [name]="direction === 'horizontal' ? 'swap-vertical' : 'swap-horizontal'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-container">
    <ngx-org-chart
      [nodes]="nodes"
      [direction]="direction"
      (itemClick)="test($event)"
    ></ngx-org-chart>
  </div>
</ion-content>
