.stats-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1800px;
  margin: auto;

  .card-container {
    flex: 1;

    // by default, hide the show more button, unless...
    .show-more {
      display: none;
      --ion-color-primary: #ee6059;
    }
    // ... the list has more items than the limit
    .show-more.has-more {
      display: block;
    }
  }

  .month-card {
    width: 100%;

    .pax-avatars {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 12px;

      a {
        margin: 4px 4px 0 0;
        position: relative;

        &:hover::after {
          content: attr(data-tooltip);
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          padding: 4px 8px;
          background: var(--ion-color-dark);
          color: white;
          border-radius: 4px;
          font-size: 12px;
          white-space: nowrap;
          z-index: 1000;
          margin-bottom: 4px;
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .stats-container .card-container {
    min-width: 50%;
  }
}

@media (max-width: 850px) {
  .stats-container .card-container {
    min-width: 100%;

    // on smaller screens, we hide all but the top 3 items so make sure
    // to show the show more button as long as there are 4 items
    .show-more.has-4 {
      display: block;
    }
  }
}

.milestone-group {
  display: flex;
  align-items: center;

  .milestone-label {
    display: inline-block;
    background: #bfe3ff;
    padding: 2px 8px;
    border-radius: 4px;
    margin: 4px;
    font-weight: bold;
  }

  .pax-avatars {
    margin-right: 8px;
  }
}

.vq-groups {
  margin: 8px 0;
}

.vq-entry {
  display: flex;
  align-items: center;
  margin: 8px 0;

  .vq-details {
    margin-left: 8px;
    font-size: 0.9em;
  }
}

.first-vq-badge {
  display: inline-block;
  background: var(--ion-color-success);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8em;
  margin-left: 8px;
}