<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tab bar -->
  <div class="tab-bar">
    <ion-segment [(ngModel)]="selectedTab" (ngModelChange)="onTabChange($event)">
      <ion-segment-button value="monthly">
        Monthly Breakdown
      </ion-segment-button>
      <ion-segment-button value="range">
        Custom Range
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Custom Range Controls and Card -->
  <div [class.hidden]="selectedTab !== 'range'">
    <div class="date-range-controls">
      <div class="date-inputs">
        <ion-item lines="none">
          <ion-label position="stacked">Start Date</ion-label>
          <input type="date"
                 [ngModel]="startDate"
                 (ngModelChange)="startDate = $event; onDateChange()"
                 [max]="endDate || undefined"
                 style="width: 100%;" />
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">End Date</ion-label>
          <input type="date"
                 [ngModel]="endDate"
                 (ngModelChange)="endDate = $event; onDateChange()"
                 [min]="startDate || undefined"
                 style="width: 100%;" />
        </ion-item>
      </div>
    </div>
    <div class="center-container" *ngIf="selectedTab === 'range' && !isValidDateRange()">
      <ion-text color="danger">Please select a valid start and end date.</ion-text>
    </div>
    <div *ngIf="dateRangeStats">
      <div class="stats-container">
        <ion-card class="month-card">
          <ion-card-header>
            <ion-card-title class="space-between">
              Summary from {{startDate | date:'MM/dd'}} to {{endDate | date:'MM/dd'}}
              <ion-button fill="clear" (click)="copyDateRangeCard()">
                Copy
              </ion-button>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong>{{ dateRangeStats.allPax.size }} Total PAX in range</strong> ({{ dateRangeStats.totalPosts }} posts, {{ dateRangeStats.totalBeatdowns }} beatdowns)
            <div class="pax-avatars">
              <a *ngFor="let name of dateRangeStats.allPax"
                 [attr.data-tooltip]="utilService.normalizeName(name)"
                 routerLink="/pax/{{name}}">
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
            <strong>{{ dateRangeStats.qs.size }} Unique Qs in range</strong>
            <div class="pax-avatars">
              <a *ngFor="let name of dateRangeStats.qs"
                 [attr.data-tooltip]="utilService.normalizeName(name)"
                 routerLink="/pax/{{name}}">
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
            <div class="space-between">
              <strong>{{ dateRangeStats.fngs.size }} New FNGs in range</strong>
              <a (click)="dateRangeStats.breakdownFngsByAo = !dateRangeStats.breakdownFngsByAo">Toggle by AO</a>
            </div>
            <ng-container *ngIf="dateRangeStats.breakdownFngsByAo; else aggregateFngsRange">
              <ng-container *ngFor="let ao of dateRangeStats.fngsByAo">
                <div>{{ ao.name }} ({{ ao.fngs.length }})</div>
                <div class="pax-avatars">
                  <a *ngFor="let name of ao.fngs"
                     [attr.data-tooltip]="utilService.normalizeName(name)"
                     routerLink="/pax/{{name}}">
                    <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
                  </a>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #aggregateFngsRange>
              <div class="pax-avatars">
                <a *ngFor="let name of dateRangeStats.fngs"
                   [attr.data-tooltip]="utilService.normalizeName(name)"
                   routerLink="/pax/{{name}}">
                  <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
                </a>
              </div>
            </ng-template>
            <strong *ngIf="dateRangeStats.returnedPax.size > 0">
              {{ dateRangeStats.returnedPax.size }} Returned PAX in range
            </strong>
            <div class="pax-avatars">
              <a *ngFor="let name of dateRangeStats.returnedPax"
                 [attr.data-tooltip]="utilService.normalizeName(name)"
                 routerLink="/pax/{{name}}">
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
            <!-- Milestone Achievements -->
            <ng-container *ngIf="dateRangeStats.milestonePax.length > 0">
              <strong>{{ dateRangeStats.totalMilestonePax }} PAX hit milestones in range</strong>
              <div class="milestone-groups">
                <ng-container *ngFor="let group of dateRangeStats.milestonePax">
                  <div class="milestone-group">
                    <div class="pax-avatars">
                      <a *ngFor="let name of group.pax"
                         [attr.data-tooltip]="utilService.normalizeName(name)"
                         routerLink="/pax/{{name}}">
                        <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
                      </a>
                    </div>
                    <span>
                      {{ group.paxNames }} hit
                      <span class="milestone-label">{{ group.milestone }}</span>
                      beatdowns
                    </span>
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <!-- VQ Achievements -->
            <ng-container *ngIf="dateRangeStats.vqs.length > 0">
              <strong>{{ dateRangeStats.totalVQs }} VQs in range</strong>
              <div class="vq-groups">
                <ng-container *ngFor="let vq of dateRangeStats.vqs">
                  <div class="vq-entry">
                    <a [attr.data-tooltip]="vq.normalizedName" routerLink="/pax/{{vq.name}}">
                      <app-pax-avatar [size]="30" [name]="vq.name"></app-pax-avatar>
                    </a>
                    <span class="vq-details">
                      {{ vq.normalizedName }} at {{ vq.normalizedAo }}
                    </span>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <!-- Monthly Cards -->
  <div [class.hidden]="selectedTab !== 'monthly'">
    <div class="center-container loading-fixed">
      <h1>Loading...</h1>
    </div>
    <div class="stats-container">
      <ion-card class="month-card" *ngFor="let month of monthlyStats; let i = index">
        <ion-card-header>
          <ion-card-title class="space-between">
            {{ month.displayName }}
            <ion-button fill="clear" (click)="copyMonthCard(i)">
              Copy
            </ion-button>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <strong>{{ month.allPax.size }} Total PAX this month</strong> ({{ month.totalPosts }} posts, {{ month.totalBeatdowns }} beatdowns)
          <div class="pax-avatars">
            <a
              *ngFor="let name of month.allPax"
              [attr.data-tooltip]="utilService.normalizeName(name)"
              routerLink="/pax/{{name}}"
            >
              <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
            </a>
          </div>
          <strong>{{ month.qs.size }} Unique Qs this month</strong>
          <div class="pax-avatars">
            <a
              *ngFor="let name of month.qs"
              [attr.data-tooltip]="utilService.normalizeName(name)"
              routerLink="/pax/{{name}}"
            >
              <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
            </a>
          </div>
          <div class="space-between">
            <strong>{{ month.fngs.size }} New FNGs this month</strong>
            <a (click)="month.breakdownFngsByAo = !month.breakdownFngsByAo">Toggle by AO</a>
          </div>
          <ng-container *ngIf="month.breakdownFngsByAo; else aggregateFngs">
            <ng-container *ngFor="let ao of month.fngsByAo">
              <div>{{ ao.name }} ({{ ao.fngs.length }})</div>
              <div class="pax-avatars">
                <a
                  *ngFor="let name of ao.fngs"
                  [attr.data-tooltip]="utilService.normalizeName(name)"
                  routerLink="/pax/{{name}}"
                >
                  <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
                </a>
              </div>
            </ng-container>
          </ng-container>
          <ng-template #aggregateFngs>
            <div class="pax-avatars">
              <a
                *ngFor="let name of month.fngs"
                [attr.data-tooltip]="utilService.normalizeName(name)"
                routerLink="/pax/{{name}}"
              >
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
          </ng-template>
          <strong *ngIf="month.returnedPax.size > 0">
            {{ month.returnedPax.size }} Returned PAX this month
          </strong>
          <div class="pax-avatars">
            <a
              *ngFor="let name of month.returnedPax"
              [attr.data-tooltip]="utilService.normalizeName(name)"
              routerLink="/pax/{{name}}"
            >
              <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
            </a>
          </div>
          <!-- don't show dropoff for the current month -->
          <ng-container *ngIf="i > 0">
            <strong *ngIf="month.missingPax.size > 0">
              {{ month.missingPax.size }} PAX dropped off this month
            </strong>
            <div class="pax-avatars">
              <a
                *ngFor="let name of month.missingPax"
                [attr.data-tooltip]="utilService.normalizeName(name)"
                routerLink="/pax/{{name}}"
              >
                <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
              </a>
            </div>
          </ng-container>

          <!-- Milestone Achievements -->
          <ng-container *ngIf="month.milestonePax.length > 0">
            <strong>{{ month.totalMilestonePax }} PAX hit milestones this month</strong>
            <div class="milestone-groups">
              <ng-container *ngFor="let group of month.milestonePax">
                <div class="milestone-group">
                  <div class="pax-avatars">
                    <a
                      *ngFor="let name of group.pax"
                      [attr.data-tooltip]="utilService.normalizeName(name)"
                      routerLink="/pax/{{name}}"
                    >
                      <app-pax-avatar [size]="30" [name]="name"></app-pax-avatar>
                    </a>
                  </div>
                  <span>
                    {{ group.paxNames }} hit
                    <span class="milestone-label">{{ group.milestone }}</span>
                    beatdowns
                  </span>
                </div>
              </ng-container>
            </div>
          </ng-container>

          <!-- VQ Achievements -->
          <ng-container *ngIf="month.vqs.length > 0">
            <strong>{{ month.totalVQs }} VQs this month</strong>
            <div class="vq-groups">
              <ng-container *ngFor="let vq of month.vqs">
                <div class="vq-entry">
                  <a
                    [attr.data-tooltip]="utilService.normalizeName(vq.name)"
                    routerLink="/pax/{{vq.name}}"
                  >
                    <app-pax-avatar [size]="30" [name]="vq.name"></app-pax-avatar>
                  </a>
                  <span class="vq-details">
                    {{ utilService.normalizeName(vq.name) }} at {{ utilService.normalizeName(vq.ao) }}
                  </span>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
