/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Sidebar toggle visibility - hide when back button is available */
// Ionic adds a "can-go-back" class to the page which the
// ionic-back-button uses this to determine if it should
// be visible. Hide our custom back in that case
.can-go-back .custom-back {
  visibility: hidden;
  display: none;
}

/* Family Tree Styles */
@import '~ngx-org-chart/_theming.scss';
ngx-chart-designer {
  margin: 4px 0;
}
.ngx-org-horizontal {
  padding: 0;
}
.ngx-org-box {
  padding: 4px 8px;
}
.ngx-org-name {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  font-size: 14px;
}
.ngx-org-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin-top: 2px;
}
.ngx-org-image {
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
}

@font-face {
  font-family: 'BlackOps';
  src: url('assets/BlackOpsOne-Regular.ttf');
}
.black-ops {
  font-family: 'BlackOps';
}

.font-1 {
  font-size: 18px;
  line-height: 20px;
}
.font-2 {
  font-size: 28px;
}
.font-3 {
  font-size: 42px;
}
.font-4 {
  font-size: 56px;
}
.font-5 {
  font-size: 70px;
}

.center-container,
.empty-container,
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-height: 100px;
  width: 100%;
  font-size: 20px;

  &.full-screen {
    height: 100%;
  }
}

.top-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.6432948179271709) 0%, rgba(0,0,0,1) 100%);

  .main-img {
    background: url('assets/home.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #fff;
    text-align: center;
    position: relative;

    h1 {
      font-size: 120px;
      line-height: 1.2;
      text-transform: uppercase;
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      font-weight: 700;
      text-shadow: 0px 0px 15px #7f7f7f;
      max-width: 1000px;
    }

    h2 {
      text-transform: uppercase;
      font-size: 44px;
      text-shadow: 0px 0px 15px #7f7f7f;
      font-weight: bold;
    }
  }
}

.content {
  position: absolute;
  width: 100%;
  color: #fff;
  padding-top: 95vh;

  app-header {
    position: absolute;
    top: 0;
  }

  .section {
    text-align: center;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4em;

    &:nth-child(even) { background-color: #25292b; }
    &:nth-child(odd) { background-color: #1e2123; }

    ion-button {
      --ion-color-light: #fff;
      --ion-color-secondary: #ee6059;
    }
  }
  .section > div {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    padding: 20px 30px;
  }
}

.main-img:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: inset 0px 0px 150px black;
}

.hide-sm {
  display: initial;
}
.show-sm {
  display: none;
}

.space-above {
  margin-top: 16px;
}
.space-below {
  margin-bottom: 16px;
}
.space-after {
  margin-right: 16px;
}
.space-before {
  margin-left: 16px;
}
.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.two-column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .flex-column {
    &:first-of-type {
      margin-right: 16px;
    }
    &:last-of-type {
      margin-left: 16px;
    }
  }
}

a {
  color: #ee6059;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.8;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

ion-item app-pax-avatar[slot="start"] {
  margin-inline-end: 16px;
}

ion-icon[name="logo-instagram"] {
  color: #d74c92;
}

@media (max-width: 1150px) {
  .top-container {
    .main-img {
      h1 {
        font-size: 8vw;
      }
      h2 {
        font-size: 3vw;
      }
    }
  }
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: initial;
  }
}

@media (max-width: 800px) {
  .top-container {
    .main-img {
      h1 {
        font-size: 12vw;
      }
      h2 {
        font-size: 6vw;
      }
    }
  }

  .content .section {
    padding: 40px 16px;

    .two-column-container {
      flex-direction: column;

      .flex-column {
        margin: 0;
      }
    }
  }

  .footer .space-between {
    flex-direction: column;
    line-height: 2em;
  }

  // TODO: maybe put this somewhere else
  app-backblast-card {
    width: 100%;
  }
}

// Besties Grid Modal Styles
.besties-modal {
  --width: 95vw;
  --max-width: 1000px;
  --height: 85vh;
  --max-height: 800px;
  --border-radius: 16px;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}