<ion-list>
  <ion-item button (click)="goToProfile()" [disabled]="!pax">
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Go to Profile</ion-label>
  </ion-item>
  <ion-item button (click)="goToBeatdownBreakdown()" [disabled]="!user">
    <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
    <ion-label>My Beatdown Breakdown</ion-label>
  </ion-item>
  <ion-item button (click)="signOut()">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <ion-label>Sign Out</ion-label>
  </ion-item>
</ion-list>
